<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>BIMM</display-name>
  <servlet>
    <servlet-name>SubmitServlet</servlet-name>
    <servlet-class>bimm.servlets.SubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitServlet</servlet-name>
    <url-pattern>/submit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AnnotatorServlet</servlet-name>
    <servlet-class>bimm.servlets.AnnotatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnotatorServlet</servlet-name>
    <url-pattern>/annotator</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BIMMServlet</servlet-name>
    <servlet-class>bimm.servlets.BIMMServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BIMMServlet</servlet-name>
    <url-pattern>/bimmservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexingServlet</servlet-name>
    <servlet-class>bimm.servlets.IndexingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexingServlet</servlet-name>
    <url-pattern>/indexingservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BioportalAPIRequest</servlet-name>
    <servlet-class>bimm.servlets.BioportalAPIRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BioportalAPIRequest</servlet-name>
    <url-pattern>/bioportal</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageAnnotationUIDServlet</servlet-name>
    <servlet-class>bimm.servlets.ImageAnnotationUIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageAnnotationUIDServlet</servlet-name>
    <url-pattern>/imageAnnotations</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>img.upload</param-name>
    <param-value>C:\Users\avina_000\bimmImages\</param-value>
  </context-param>
</web-app>